/.api/

/.fake/
/.idea/
/paket-files/

/.paket/*
!/.paket/Paket.Restore.targets

/.vs/

bin/
obj/
out/
wwwroot/

*.pfx
*.user
appsettings.user.json

.ionide

node_modules
elm-stuff
.DS_Store
dist
dist-ssr
*.local

values.user.yaml
