source https://api.nuget.org/v3/index.json
storage: none

clitool dotnet-fake

group Build
    source https://api.nuget.org/v3/index.json
    storage: none

    nuget BouncyCastle
    nuget Fake.Core.Environment
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.JavaScript.Yarn

group Server
    source https://api.nuget.org/v3/index.json
    storage: none

nuget EventStore.ClientAPI.NetCore
    nuget FSharp.Core
    nuget Microsoft.AspNetCore.Antiforgery
    nuget Microsoft.AspNetCore.Authentication.Google
    nuget Microsoft.AspNetCore.Server.Kestrel
    nuget Microsoft.AspNetCore.SpaServices
    nuget Microsoft.Extensions.Configuration.UserSecrets
nuget MongoDB.Driver
    nuget Saturn

    clitool dotnet-saturn