source https://api.nuget.org/v3/index.json

storage: none
framework: net50

nuget Dapr.AspNetCore
nuget EventStore.Client
nuget EventStore.Client.Grpc.PersistentSubscriptions
nuget EventStore.Client.Grpc.ProjectionManagement
nuget Flurl.Http
nuget FSharp.Core
nuget Giraffe
nuget Grpc.Net.Client
nuget Microsoft.Extensions.Configuration
nuget Microsoft.Extensions.Configuration.EnvironmentVariables
nuget Microsoft.Extensions.Configuration.Json
nuget Microsoft.Extensions.DependencyInjection
nuget Microsoft.Extensions.Hosting
nuget Microsoft.Extensions.Logging.Console
nuget MongoDB.Driver
nuget Newtonsoft.Json
nuget Ply
nuget protobuf-net ~> 2
nuget Saturn
